@media screen and (max-width: 480px) {
    .modal-90w {
      max-width: 100%;
      width: 100%;
      margin: 0;
    }
    .modal-content {
      height: 100vh;
      border-radius: 0;
    }
  }
  @media screen and (min-width: 480px) {
    .modal-90w {
      max-width: 100%;
      width: 20%;
    }
    .modal-content {
      border-radius: 17px;
    }
  }